<header>
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
        </a>
        <a href="getCategory" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-hash fa-fw me-3"></i><span>Category</span></a>
        <a href="headers" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-chat-square fa-fw me-3"></i><span>Header</span></a>
        <a href="coupon" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-credit-card fa-fw me-3"></i><span>Coupon</span></a>
        <a href="userList" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-users fa-fw me-3"></i><span>Users</span>
        </a>
        <a href="orders" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-bicycle fa-fw me-3"></i><span>Orders</span></a>
        <a href="productsList" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-boxes fa-fw me-3"></i><span>Product list</span></a>
        <a href="addProducts" class="list-group-item list-group-item-action py-2 ripple"><i
            class="bi bi-box-seam fa-fw me-3"></i><span>Add products</span></a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <img src="/img/logo/logo-3.png" height="25" alt="" loading="lazy" />
      </a>
      <!-- Search form -->
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded"
          placeholder='Search ' style="min-width: 225px" />
        <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Avatar -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <img src="" class="rounded-circle" height="22"
              alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="#">My profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li> -->
            <li><a class="dropdown-item" href="admin/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>