<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from harnishdesign.net/demo/html/oxyy/login-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Oct 2022 06:03:11 GMT -->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />
<title>Oxyy - Login and Register Form Html Template</title>
<meta name="description" content="Login and Register Form Html Template">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
========================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<!-- Stylesheet
========================= -->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="logincss/stylesheet.css" />

</head>
<body>

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Preloader End -->
<div id="main-wrapper" class="oxyy-login-register">
  <div class="hero-wrap d-flex align-items-center">
    <div class="hero-mask opacity-4 bg-secondary"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url('images/login-bg-7.jpg');"></div>
    <div class="hero-content w-100">
      <div class="container">
        <div class="row g-0 min-vh-100 justify-content-center"> 


          <div class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert" style="max-height: 50px;">
                <span>successfully signed up</span> <i class="bi bi-check2"></i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          
          <!-- Register Form
		  ========================= -->
          <div class="col-md-6 d-flex align-items-center py-5">
            <div class="container my-auto py-4 shadow-lg" style="background-color: transparent !important;">
              <div class="row">
                <div class="col-11 col-lg-10 mx-auto">
                  <p class="text-center mb-4 text-white">Back login page to explore</p>
                  <form id="registerForm" action="/sign-in" method="get">
                    
                    <div class="d-grid my-4">
						<button class="btn btn-dark rounded-0" type="submit">Back to Login</button>
					</div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Register Form End --> 
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Script --> 
<script src="vendor/jquery/jquery.min.js"></script> 
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<!-- Style Switcher --> 
<script src="loginjs/switcher.min.js"></script> 
<script src="loginjs/theme.js"></script>
</body>

<!-- Mirrored from harnishdesign.net/demo/html/oxyy/login-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Oct 2022 06:03:15 GMT -->
</html>